{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="" class="contact-form">
        {% csrf_token %}
        <div class="form-control">
            <div>Full Name</div>
            <input type="text" name="full-name">
        </div>
        <div class="form-control">
            <div>Email</div>
            <input type="text" name="email">
        </div>
        <div class="form-control">
            <div>Subject</div>
            <input type="text" name="subject">
        </div>
        <div class="form-control">
            <div class="tag">Message</div>
            <textarea name="message" cols="30" rows="10"></textarea>
        </div>
        <div class="form-control">
            <input type="submit" name="btn submit-btn" value="Send Message">
        </div>
    </form>
</body>
</html>